body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: space-between;
    background-color: gray;
    padding: 20px;
}
img{
    width: 100px;
    height: 100px;
   animation-iteration-count: infinite;
    animation-name: img;
    animation-duration: 3s;
    border-radius: 50%;
}
ul{
    display: flex;
    justify-content: space-between;
    width: 20vw;
}

li{
    list-style: none;
    color:white
}
@keyframes img {
   0%{ filter:grayscale();
    opacity: 0.3
    }
}